{% extends "base.html.twig" %}

{% block title %}AppBundle:Personne:list{% endblock %}

{% block body %}
{% for personne in personnes %}
   {{ dump(personne) }}
{% endfor %}

   <a href="{{ path('personne.list.pdf') }}" target="_blank">Export To PDF</a>
    {#{% for pagination in range(1,nbPages) %}#}
        {#<a href="{{ path('liste-personne',{page:pagination}) }}" >[{{ pagination }}]</a>#}
    {#{% endfor %}#}
{% endblock %}
